.assistant-container {
  width: 23vw;
  transition: opacity .5s ease-in;
  opacity: 0;
  visibility: hidden;
}
.assistant-photo {
  width: 3vw;
  height: 3vw;
}
.assistant-message {
  background-color: #0084ff;
}
