:root{
  --black: #303841;
  --dark: #3A4750;
  --yellow: #F6C90E;
  --grey: #EEEEEE;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*, header{
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
header{
  position: sticky;
  top: 0;
  z-index: 999;
  height: fit-content;
}
.progress{
  position: static;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 5px;
  background-color: var(--black);
}
.bar{
  display: block;
  width: 0;
  height: inherit;
  background-image: linear-gradient(90deg,#a48815,#e3bf29,#fff100);
}


/* menu */
.main-header{
  display: flex;
  flex-direction: column;
  height:100%;
  top: 0;
}
.menu{
  display: flex;
  justify-content: center;
  height: fit-content;
  padding: 20px;
  margin: 0;
  z-index: 2;
  background-color: var(--black);
}
.menu-list{
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.menu-element>a, .menu-element>label{
  color: aliceblue;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

.menu-element{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 10%;
}
.menu-element::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -4px;
  left: 0;
  background-color: var(--yellow);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.menu-element:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
.home{
  font-size: xx-large;
}
.home-li{
  width: fit-content;
}

/* small menu */
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.x-mark{
  color: var(--grey);
}
.container-header{
  display: none;
}
.line{
  display: block;
  position: relative;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background-color: var(--grey);
  border-radius: 6px;
  transform-origin: 0 0;
  transition: 0.4s;
}
.menu-button{
  display: none;
}
#check-button{
  display:none;
}
.overlay-menu-button{
  display: none;
}
@media (max-width:842px) {
  @keyframes xmark {
      100% {
          transform: rotate(360deg);
      }
  }
  .main-header{
      background-color: var(--black);
  }
  .menu-button{
      display: block;
      z-index: 3;
  }
  .overlay-menu-button{
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }
  .overlay{
      display: flex;
      justify-content: flex-end;
      margin: 20px 20px 0px 0px ;
  }
  .menu{
      display: none;
  }
  .container-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: static;
      padding: 20px;
  }
  .logo{
      color: white;
      font-size: x-large;
  }
  .menu-button:hover>.move-left{
      transform: translateX(-1vw);
  }
  .menu-button:hover>.move-right{
      transform: translateX(0.5vw);
  }
  #check-button:checked~.menu{
      transition: animation 2s;
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--black);
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
      margin: 0;
  }
  body:has(#check-button:checked){
      overflow: hidden;
  }
  .menu-list{
      position: relative;
      display: flex;
      flex-direction: column;
      height: 70%;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
      
  }
  .menu-element{
      display: block;
      width: 100%;
      position: relative;
      padding: 20px 30px 30px 30px;
  }
  .menu-element::after{
      width: 0%;
  }
  .menu-element:hover{
      transform: scale(1);
  }
  .temat2-menu li:hover{
      background-color: transparent;
  }
  .element-temat2:nth-child(3){
      padding-bottom: 0;
  }
  .x-mark:hover{
      animation: xmark 0.7s;
  }
  .home{
      font-size: medium;
  }
}



/* main */

.baner{
  display: flex;
  width: 100%;
  height: 100%;
  position:static;
  padding: 0;
  object-fit: cover;
}
/*video*/
.video{
  min-width: 100%;
}


      /* karty */
.topics{
  display: flex;
  justify-content: space-around;
  background-color: var(--dark);
  padding: 40px;
  position: static;
  flex-wrap: wrap;
}
.topic{
  height: 400px;
  background-color: var(--yellow);
  width: 300px;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  flex-direction: column;
  box-shadow:  0 0 20px 0 rgba(0, 0, 0, 0.15);
  border: #EEEEEE solid 8px;
}
.topic {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.topic.visible {
  opacity: 1;
  transform: translateY(0);
}
.icon {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.topic1:hover > .holowanie {
  animation: spin 1s forwards;
}
.topic2:hover > .parasolka {
  animation: spin 1s forwards;
}
.topic3:hover > .pamelka {
  animation: spin 1s forwards;
}
@keyframes spin {
  0% {
    transform: perspective(500px) rotateY(0deg);
  }
  100% {
    transform: perspective(500px) rotateY(360deg);
  }
}
.description{
  color: var(--grey);
  padding: 40px;
}

.toTopButton{
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  cursor: pointer;
}
